@model EmployeeHiringProc.Models.Employee
@{
    ViewData["Title"] = "Create Page";
}
<a asp-action="Index" asp-controller="Employee" class="form-label">Go Back</a>

<div>
    <h2 class="display-9">Add Employee</h2>
</div>
<style>
    body {
        font-size: 14px; 
    }

    .form-label {
        font-size: 14px; 
    }

    .form-control {
        font-size: 14px; 
        height: 36px; 
        padding: 6px 12px; 
    }

    .btn-primary {
        font-size: 14px; 
        padding: 10px 20px; 
    }
</style>


<div class="row">
    <div class="col-lg-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-4">
                    <p>
                        <b><label asp-for="FirstName" class="form-label"></label> </b>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        <b><label asp-for="LastName" class="form-label"></label> </b>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        <b><label asp-for="Email" class="form-label"></label> </b>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>
                        <b><label asp-for="Dob" class="form-label"></label> </b>
                        <input asp-for="Dob" class="form-control" />
                        <span asp-validation-for="Dob" class="text-danger"></span>
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        <b><label asp-for="Address" class="form-label"></label> </b>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        <b><label asp-for="FieldOfStudy" class="form-label"></label> </b>
                        <input asp-for="FieldOfStudy" class="form-control" />
                        <span asp-validation-for="FieldOfStudy" class="text-danger"></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>
                        <b><label asp-for="CurrentEmployer" class="form-label"></label> </b>
                        <input asp-for="CurrentEmployer" class="form-control" />
                        <span asp-validation-for="CurrentEmployer" class="text-danger"></span>
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        <b><label asp-for="AreasOfExpertise" class="form-label"></label> </b>
                        <input asp-for="AreasOfExpertise" class="form-control" />
                        <span asp-validation-for="AreasOfExpertise" class="text-danger"></span>
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        <b><label asp-for="CurrentEmployer" class="form-label"></label> </b>
                        <input asp-for="CurrentEmployer" class="form-control" />
                        <span asp-validation-for="CurrentEmployer" class="text-danger"></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>
                        <b><label asp-for="UploadFile" class="form-label"></label> </b>
                        <input asp-for="UploadFile" class="form-control" />
                        <span asp-validation-for="UploadFile" class="text-danger"></span>
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        <b><label asp-for="Certificate" class="form-label"></label> </b>
                        <input asp-for="Certificate" class="form-control" />
                        <span asp-validation-for="Certificate" class="text-danger"></span>
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        <b><label asp-for="Gender" class="form-label"></label> </b>
                        <select asp-for="GenderId" asp-items="ViewBag.EGender" class="form-control">
                            <option>Select Gender</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>
                        <b><label asp-for="Grade" class="form-label"></label> </b>
                        <select asp-for="GradeId" asp-items="ViewBag.EGrade" class="form-control">
                            <option>Select Grade</option>
                        </select>
                        <span asp-validation-for="Grade" class="text-danger"></span>
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        <b><label asp-for="Subject" class="form-label"></label> </b>
                        <select asp-for="SubjectId" asp-items="ViewBag.ESubject" class="form-control">
                            <option>Select Subject</option>
                        </select>
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        <b><label asp-for="Degree" class="form-label"></label> </b>
                        <select asp-for="DegreeId" asp-items="ViewBag.EDegree" class="form-control">
                            <option>Select Degree</option>
                        </select>
                        <span asp-validation-for="Degree" class="text-danger"></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>
                        <b><label asp-for="Experience" class="form-label"></label> </b>
                        <select asp-for="ExperienceId" asp-items="ViewBag.EExperiences" class="form-control">
                            <option>Select Experience</option>
                        </select>
                        <span asp-validation-for="Experience" class="text-danger"></span>
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        <b><label asp-for="ExperienceIdAddNavigation" class="form-label"></label> </b>
                        <select asp-for="ExperienceIdAdd" asp-items="ViewBag.EExperiencesAdds" class="form-control">
                            <option>Select Experience Additional </option>
                        </select>
                        <span asp-validation-for="ExperienceIdAddNavigation" class="text-danger"></span>
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        <b><label asp-for="Avail" class="form-label"></label> </b>
                        <select asp-for="AvailId" asp-items="ViewBag.EAvail" class="form-control">
                            <option>Select Availibility</option>
                        </select>
                        <span asp-validation-for="Avail" class="text-danger"></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>
                        <b><label asp-for="TeachingLvls" class="form-label">Teaching Levels</label> </b>
                        <select asp-for="TeachingLvlsId" asp-items="ViewBag.ETeaching" class="form-control">
                            <option>Select Teaching Levels</option>
                        </select>
                        <span asp-validation-for="TeachingLvls" class="text-danger"></span>
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        <b><label asp-for="ImageFile" class="form-label"></label> </b>
                        <input type="file" name="image" class="form-control" />
                    </p>
                </div>
            </div>

            <p><button type="submit" class="btn btn-primary">Add Employee</button></p>
        </form>
    </div>

    <br />

    @if (ViewBag.msg != null)
    {
        <p>@ViewBag.msg</p>
    }
</div>